@using Blazored.Toast.Configuration
@using ExpenseTracker.Client.Pages
@using ExpenseTracker.Client.ViewModels;
@using ExpressTrackerLogicLayer.Models;
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager nav

<div class="">
    <NavMenu />
    <main>
        @Body
    </main>
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <PageFooter/>
    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override"
                    SuccessIcon="fa fa-thumbs-up"
                    ErrorIcon="fa fa-bug"
                    ShowProgressBar="true" />
</div>
@code {





    protected override async void OnInitialized()
    {
        string token = await localStorage.GetItemAsync<string>("jwt_token");
        if (token == null)
        {
            nav.NavigateTo("/login");
        }
        
    }
}