@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager nav
<nav class="navbar navbar-expand-md mb-3 navbar-primary bg-primary shadow-sm sticky-top bg-gradient px-3">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="">ExpenseTracker</a>
        <button class="navbar-toggler btn-light @NavButtonCssClass" @onclick="ToggleNavMenu" type="button" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-thin fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass " id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav d-flex justify-content-center align-items-center h6 small">
                <li class="OnHoverDecorate pointer text-light px-3" @onclick="NavigateToHome">
                    Home
                </li>
                <li class="OnHoverDecorate pointer text-light px-3" @onclick="NavigateToDashBoard">
                    DashBoard
                </li>
                <li class="OnHoverDecorate pointer text-light px-3" @onclick="NavigateToProfile">
                    Profile
                </li>
            </ul>
        </div>
        <span class="text-light pointer" @onclick="logout">logout <i class="fa fa-sign-out" aria-hidden="true"></i></span>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async void logout()
    {
        await localStorage.ClearAsync();
        nav.NavigateTo("/login");
    }
    protected override void OnInitialized()
    {

    }
    private void NavigateToHome()
    {
        nav.NavigateTo("/home");
    }
    private void NavigateToDashBoard()
    {
        nav.NavigateTo("/DashBoard");
    }
    private void NavigateToProfile()
    {
        nav.NavigateTo("/profile");
    }
}

